doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Planshark
        script(src="/src/js/bundle/bundle.js")
        link(rel="stylesheet/less" href="/src/style/toastr.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.structure.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.theme.min.css")
        link(rel="stylesheet/less" href="/src/style/main.less")
        script(src="/src/js/libs/less.js")
        include mixins
    body
        header
            section.wrapper
                img.logo_img(src="/src/img/logo.png" alt="logo")
        section.content
            section.wrapper
                block content