doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Planshark
        script(src="/src/js/jquery.js")
        script(src="/src/js/babel.js")
        script(src="/src/js/react.min.js")
        script(src="/src/js/react-dom.min.js")
        script(src="/src/js/main.js" type="text/babel")
        link(rel="stylesheet/less" href="/src/less/main.less")
        script(src="/src/js/less.js")
        //- other JS files
        block scripts
        //- add mixins
        include mixins
    body
        section.content
            block content