doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Planshark
        meta(name="description" content="Planshark is a project manage software suitable for project of any scale. Planshark can be used for single person (Personal mode) or large team, that includes many people (Company mode).")
        meta(name="keywords" content="Planshark, plan, manage")
        script(src="/src/js/bundle/bundle.js")
        link(rel="stylesheet/less" href="/src/style/toastr.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.structure.min.css")
        link(rel="stylesheet/less" href="/src/style/jquery-ui.theme.min.css")
        link(rel="stylesheet/less" href="/src/style/colorpicker.min.css")
        link(rel="stylesheet/less" href="/src/style/main.less")
        //other styles
        block style
        script(src="/src/js/libs/less.js")
        include mixins
    body
        header
            section.wrapper
                a(href="/")
                    img.logo_img(src="/src/img/logo.png" alt="logo")
        section.content
            section.wrapper
                block content