doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Planshark
        script(src="/src/js/libs/jquery.js")
        script(src="/src/js/libs/jquery.toaster.js")
        script(src="/src/js/libs/babel.js")
        script(src="/src/js/libs/react.js")
        script(src="/src/js/libs/react-dom.js")
        script(src="/src/js/libs/toastr.min.js")
        link(rel="stylesheet/less" href="/src/style/main.less")
        link(rel="stylesheet/less" href="/src/style/toastr.min.css")
        script(src="/src/js/libs/less.js")
        script(src="/src/js/submitting.js")
        //- other JS files
        block scripts
        //- add mixins
        include mixins
    body
        header
            section.wrapper
                img.logo_img(src="/src/img/logo.png" alt="logo")
        section.content
            section.wrapper
                block content