section.main
    section(style="background: #001448;")
        img(src="http://theplanshark.com/src/img/logo.png" alt="logo" style="width: 120px;  padding: 10px;").logo
    section.content(style="font-family: Helvetica;  padding: 10px;  font-size: 16px;")
        block content