@main: #001448;

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    .wrapper {
        margin: 0 auto;
        width: 960px;
        padding: 0 10px;
    }
    header {
        background: @main;
        img {
            width: 150px;
            padding: 20px;
            cursor: pointer;
        }
    }
    .content {
        .wrapper {
            padding-top: 20px;
            border-left: 2px solid @main;
            border-right: 2px solid @main;
            .index {
                min-height: 250px;
                .index_but_main {
                    text-align: center;
                    .index_but {
                        cursor: pointer;
                        display: inline-block;
                        font-size: 18px;
                        padding: 5px;
                        margin: 10px;
                        border: 2px solid @main;
                        transition-duration: 0.3s;
                        &:not(.active):hover {
                            background: lighten(@main, 55%);
                        }
                    }
                }
                .index_form {
                    text-align: center;
                    margin: 0 auto;
                    width: 400px;
                    padding-top: 20px;
                    input {
                        margin-bottom: 10px;
                        padding: 3px;
                    }
                }
                .index_panel {
                    width: 350px;
                    margin: auto;
                    .index_panel_name {
                        text-align: center;
                        font-size: 22px;
                        color: @main;
                        margin: 5px;
                        padding: 5px;
                        border-bottom: 1px solid @main;
                    }
                    .index_panel_elem {
                        text-align: center;
                        font-size: 20px;
                        border: 1px solid @main;
                        margin: 5px;
                        padding: 5px;
                        cursor: pointer;
                    }
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
                .after_reg {
                    font-size: 19px;
                    text-align: center;
                }
            }
        }
    }
    button {
        background: @main;
        color: white;
        border: none;
        padding: 3px 5px;
        transition-duration: 0.3s;
        &:hover {
            background: lighten(@main, 10%);
        }
    }
    .hidden {
        display: none;
    }
    .active {
        background: @main;
        color: white;
    }
}