extends ../basis/mail_layout

block content
    h1 Your password was changed on PlanShark
    p Your account password was changed. Please, delete this letter after reading so that your password
        | is not retained in the mail.
    article(style="font-size: 18px; font-weight: bold;") New password:
        article(style="font-weight: normal;")=new_pass_one