extends ../basis/mail_layout

block content
    h1 You have been invited to PlanShark!
    p On PlanShark account has been created for you. If you do not know what it ignore letter.
    article(style="font-size: 18px; font-weight: bold;") Your login:
        article(style="font-weight: normal;")=login
    article(style="font-size: 18px; font-weight: bold;") Your password:
        article(style="font-weight: normal;")=pass
    p='Now you can enter to '
        a(href="http://theplanshark.com/" style="color: #001448; text-decoration: none;") PlanShark
        | .