extends ../basis/mail_layout

block content
    h1 Registration on PlanShark successfully completed!
    div(style="font-size: 18px; font-weight: bold;") Your login:
        span(style="font-weight: normal;")=name
    div(style="font-size: 18px; font-weight: bold;") Your password:
        span(style="font-weight: normal;")=pass
    p='Now you can enter to '
    a(href="http://theplanshark.com/" style="color: #001448; text-decoration: none;") PlanShark
    | .