extends ../basis/mail_layout

block content
    h1 Registration on PlanShark successfully completed!
    article.warn Your login:
        article.main=name
    article.warn Your password:
        article.main=pass
    p='Now you can enter to '
    a(href="http://theplanshark.com/") PlanShark
    | .