extends ../basis/mail_layout

block content
    h1 Reminder of your account data on PlanShark
    p From your account on PlanShark has been requested of your account data.
    div(style="font-size: 18px; font-weight: bold;") Your login:
        div(style="font-weight: normal;")=name
    div(style="font-size: 18px; font-weight: bold;") Your password:
        div(style="font-weight: normal;")=pass