extends ../basis/mail_layout

block content
    h1 Reminder of your account data on PlanShark
    p From your account on PlanShark has been requested of your account data.
    article(style="font-size: 18px; font-weight: bold;") Your login:
        article(style="font-weight: normal;")=name
    article(style="font-size: 18px; font-weight: bold;") Your password:
        article(style="font-weight: normal;")=pass