extends ../basis/mail_layout

block content
    h1 Reminder of your account data on PlanShark
    p From your account on PlanShark has been requested of your account data.
    article.warn Your login:
        article.main=name
    article.warn Your password:
        article.main=pass